*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    margin-left: 200px;
}
nav{
    background-color:#134361 ;
}

.nav-links{
    margin-left: 1100px;
    margin-top: -20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: -50px;
}

.Twitter-Header{
    margin-top: 40px;
    width: 100%;
    padding: 0 200px;
    height: 330px;
}

.blur-picture{
    background: linear-gradient(rgba(20,24,20,0.5), rgba(16,24,20,0.5)), url(images/bannerimg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.learn{
        text-align: center;
        padding: 200px;
        color: white;
        font-size: 50px;
    }

.learn-buttom{
        margin-top: -200px;
        color: white;
        margin-left: 550px;
        font-size: 25px;
    } 

.back-color{
    background-color: #F5F5F8;
}

    .sub-text1{
        text-align: center;
        color: #59677D;
    }

.sub-text{
    margin-left:-437px;
}

.sub-text2{
    margin-left: -370px;
}

.Learning-Paths{
    margin-top: 70px;
    color: #59677D;
}

.Our-Learning{
    text-align: center;
    font-size: 30px;
}

.sub2{
    text-align: center;
    margin-bottom: 60px;
}

.box{
    height: 400px;
    width: 320px;
    margin-left: 600px;
    color: red;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px solid black; */
    background-color: white;
    /* margin-bottom: 50px; */
}

.FRONT-END{
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

.Introduction{
    text-align: center;
    padding: 1px;
    margin-bottom: 50px;
}

.Genesys{
    margin-top: -40px;
    margin-left: 50px;
}

.free{
    margin-top: -20px;
    margin-left: 270px;
}

footer{
    background-color: #134361;
    height: 140px;
    color: white;
}

.footer1{
    margin-left: 200px;
    /* margin-top: 20px; */
}

.©{
    cursor: pointer;
    padding-top: 20px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
}

.footer2{
    margin-left: 75%;
    margin-top: -75px;
}

.lastlast{
    cursor: pointer;
    font-size: 30px;
}